<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
        <script>
                
            function checkDel() {
                if (confirm('ต้องการลบใช่หรือไม่')) {
                    return true;
                } else {
                    return false;
                }
            }
            
            function getBranchs(n, status, idbranch, idproduct) {
                
                var parameters = { id: parseInt($('select.idcustomer')[n].value) };
                $.get('/deliveries/getbranch', parameters, function(data) {
                    var branch = $('select.idbranch')[n];
                    $( branch ).empty();
                    if (data.length == 0) {
                        $( branch ).append( '<option class="branch-default" value="" selected>ไม่มีสาขา เพิ่มสาขาที่หน้าจัดการลูกค้า</option>' );
                    } else {
                        if (status == 'create') {
                            if ($('option.customer-default')[0]) { $('option.customer-default')[0].remove() }
                            $( branch ).append( '<option class="branch-default" value="" selected>เลือกสาขา</option>' );
                            for (var i = 0; i < data.length; i++) {
                                $( branch ).append( "<option value=" + data[i].id + ">" + data[i].name + "</option>" );
                            }
                        } else if (status == 'update') {
                            for (var i = 0; i < data.length; i++) {
                                var selected = '';
                                if (data[i].id == idbranch) { selected = 'selected' }
                                $( branch ).append( "<option value=" + data[i].id + " " + selected + ">" + data[i].name + "</option>" );
                            }
                            if (idproduct != -1) { getProducts(n, 'update', idproduct) }
                        }
                    }
                });
                
            }
            
            function getProducts(n, status, idproduct) {
                                
                var parameters = { id: parseInt($('select.idbranch')[n].value) };
                $.get('/deliveries/getproduct', parameters, function(data) {
                    var product = $('select.idproduct')[n];
                    $( product ).empty();
                    if (data.length == 0) {
                        $( product ).append( '<option class="product-default" value="" selected>ไม่มีสินค้า เพิ่มสินค้าที่หน้าจัดการสาขาในหน้าจัดการสินค้า</option>' );
                    } else {
                        if (status == 'create') {
                            if ($('option.branch-default')[0]) { $('option.branch-default')[0].remove() }
                            $( product ).append( '<option class="product-default" value="" selected>เลือกสินค้า</option>' );
                            for (var i = 0; i < data.length; i++) {
                                $( product ).append( "<option value=" + data[i].id + ">" + data[i].name + "</option>" );
                            }
                        } else if (status == 'update') {
                            for (var i = 0; i < data.length; i++) {
                                var selected = '';
                                if (data[i].id == idproduct) { selected = 'selected' }
                                $( product ).append( "<option value=" + data[i].id + " " + selected + ">" + data[i].name + "</option>" );
                            }
                        }
                    }
                });
                
            }
            
        </script>
    </head>
    <body>
        <% include ../partials/menu %>
        <main class="section">
            <div class="container-fluid">
                <section class="section">
                    <div class="container">
                        <h1 class="title">จัดการการขนส่ง</h1>
                        <button class="button success button-float-right-margin-bottom" onclick="modalShow(this)">เพิ่มการขนส่ง</button>
                        <div class="modal">
                            <div class="modal-background" onclick="modalHide(this)"></div>
                            <div class="modal-content">
                                <form method="post" action="/deliveries/add">
                                    <div class="cols">
                                        <div class="field col-6">
                                            <label class="label label-require">ชื่อลูกค้า</label>
                                            <div class="select">
                                                <select class="idcustomer" name="idcustomer" onchange="getBranchs(0, 'create', -1, -1)" required>
                                                    <option class="customer-default" value="" selected>เลือกลูกค้า</option>
                                                    <% for(var j=0; j<customers.length; j++) {%>
                                                    <option value="<%= customers[j].idcustomer %>"><%= customers[j].name %></option>
                                                    <% } %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="field col-6">
                                            <label class="label label-require">ชื่อสาขา</label>
                                            <div class="select">
                                                <select class="idbranch" name="idbranch" onchange="getProducts(0, 'create', -1)" required>
                                                    <option class="branch-default" value="" selected>เลือกลูกค้า</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="field col-6">
                                            <label class="label label-require">ชื่อสินค้า</label>
                                            <div class="select">
                                                <select class="idproduct" name="idproduct" required>
                                                    <option class="product-default" value="" selected>เลือกสินค้า</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="field col-6">
                                            <label class="label label-require">ความเร่งด่วน</label>
                                            <div class="select">
                                                <select class="priority" name="priority" required>
                                                    <option value="1">1 ส่งตามลำดับแต่ไม่เร่งด่วน</option>
                                                    <option value="2" selected>2 ส่งตามลำดับ</option>
                                                    <option value="3">3 ส่งเร็วที่สุดเท่าที่เป็นไปได้</option>
                                                    <option value="4">4 ส่งทันที</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="field col-6">
                                            <label class="label label-document label-require">จำนวนที่สั่ง(ขวด)<span class="label-require"></span></label>
                                            <input class="input amount_in_bottle" name="amount_in_bottle" type="number">
                                        </div>
                                        <button class="button success float-right inline-button" type="sumbit">บันทึก</button>
                                    </div>
                                </form>
                            </div>
                            <button class="close large" onclick="modalHide(this)" aria-label="close"></button>
                        </div>
                        <table class="table striped full-width first-col-center bordered hoverable">
                            <thead>
                                <tr>
                                    <th>ลูกค้า</th>
                                    <th>สาขา</th>
                                    <th>สินค้า</th>
                                    <th width=120>จำนวน(ขวด)</th>
                                    <th width=120>ความเร่งด่วน</th>
                                    <th width=100></th>
                                    <th width=100></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <% for(var i=0; i<delivery_queues.length; i++) {%>
                                    <tr>
                                        <td><%= delivery_queues[i].customer_name %></td>
                                        <td><%= delivery_queues[i].branch_name %></td>
                                        <td><%= delivery_queues[i].product_name %></td>
                                        <td class="align-center"><%= delivery_queues[i].amount_in_bottle %></td>
                                        <td class="align-center"><%= delivery_queues[i].priority %></td>
                                        <td class="align-center">
                                            <a class="button warning" onclick="modalShow(this)">แก้ไข</a>
                                            <div class="modal">
                                                <div class="modal-background" onclick="modalHide(this)"></div>
                                                <div class="modal-content align-left">
                                                    <form method="post" action="/deliveries/edit">
                                                        <div class="cols">
                                                            <input class="display-none" type="text" name="id" value="<%= delivery_queues[i].id %>">
                                                            <div class="field col-6">
                                                                <label class="label label-require">ชื่อลูกค้า</label>
                                                                <div class="select">
                                                                    <select class="idcustomer" name="idcustomer" onchange="getBranchs(<%= i+1 %>, 'update', <%= delivery_queues[i].idbranch %>, -1)" required>
                                                                        <% for(var j=0; j<customers.length; j++) {%>
                                                                        <option value="<%= customers[j].idcustomer %>" <% if (customers[j].idcustomer == delivery_queues[i].idcustomer) { %>selected<% } %>><%= customers[j].name %></option>
                                                                        <% } %>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="field col-6">
                                                                <label class="label label-require">ชื่อสาขา</label>
                                                                <div class="select">
                                                                    <select class="idbranch" name="idbranch" onchange="getProducts(<%= i+1 %>, 'update', <%= delivery_queues[i].idproduct %>)" required>
                                                                        <option class="branch-default" value="" selected>เลือกลูกค้า</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="field col-6">
                                                                <label class="label label-require">ชื่อสินค้า</label>
                                                                <div class="select">
                                                                    <select class="idproduct" name="idproduct" required>
                                                                        <option class="product-default" value="" selected>เลือกสินค้า</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="field col-6">
                                                                <label class="label label-require">ความเร่งด่วน</label>
                                                                <div class="select">
                                                                    <select class="priority" name="priority" required>
                                                                        <option value="1" <% if (delivery_queues[i].priority == 1) {%> selected<% } %>>1 ส่งตามลำดับแต่ไม่เร่งด่วน</option>
                                                                        <option value="2" <% if (delivery_queues[i].priority == 2) {%> selected<% } %>>2 ส่งตามลำดับ</option>
                                                                        <option value="3" <% if (delivery_queues[i].priority == 3) {%> selected<% } %>>3 ส่งเร็วที่สุดเท่าที่เป็นไปได้</option>
                                                                        <option value="4" <% if (delivery_queues[i].priority == 4) {%> selected<% } %>>4 ส่งทันที</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="field col-6">
                                                                <label class="label label-document label-require">จำนวนที่สั่ง(ขวด)<span class="label-require"></span></label>
                                                                <input class="input amount_in_bottle" name="amount_in_bottle" type="number" value="<%= delivery_queues[i].amount_in_bottle %>">
                                                            </div>
                                                            <button class="button success float-right inline-button" type="sumbit">บันทึก</button>
                                                            <script>
                                                                getBranchs(<%= i+1 %>, 'update', <%= delivery_queues[i].idbranch %>, <%= delivery_queues[i].idproduct %>);
                                                            </script>
                                                        </div>
                                                    </form>
                                                </div>
                                                <button class="close large" onclick="modalHide(this)" aria-label="close"></button>
                                            </div>
                                        </td>
                                        <td class="align-center">
                                            <form method="post" action="/deliveries/del" onsubmit="return checkDel()">
                                                <input class="display-none" type="text" name="id" value="<%= delivery_queues[i].id %>">
                                                <button class="button danger" type="sumbit">ลบ</button>
                                            </form>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>