<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
        <script>
            function checkDel() {
                if (confirm('ต้องการลบใช่หรือไม่')) {
                    return true;
                } else {
                    return false;
                }
            }
        </script>
    </head>
    <body>
        <% include ../partials/menu %>
        <main class="section">
            <div class="container-fluid">
                <section class="section">
                    <div class="container">
                        <h1 class="title">จัดการสินค้าของ <%= customerName %> สาขา <%= branchName %></h1>
                        <button class="button success button-float-right-margin-bottom" onclick="modalShow(this)">เพิ่มสินค้า</button>
                        <div class="modal">
                            <div class="modal-background" onclick="modalHide(this)"></div>
                            <div class="modal-content">
                                <form method="post" action="/product_management/add">
                                    <div class="cols">
                                        <div class="field col-3">
                                            <label class="label label-require">ชื่อสินค้า</label>
                                            <input class="input" type="text" name="name" required>
                                        </div>
                                        <button class="button success float-right" type="sumbit">บันทึก</button>
                                    </div>
                                </form>
                            </div>
                            <button class="close large" onclick="modalHide(this)" aria-label="close"></button>
                        </div>
                        <table class="table striped full-width first-col-center bordered hoverable">
                            <thead>
                                <tr>
                                    <th width=100>รหัสสินค้า</th>
                                    <th>ชื่อสินค้า</th>
                                    <th width=100></th>
                                    <th width=100></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <% for(var i=0; i<products.length; i++) {%>
                                    <tr>
                                        <th><%= products[i].idproduct %></th>
                                        <td><%= products[i].name %></td>
                                        <td class="align-center">
                                            <a class="button warning" onclick="modalShow(this)">แก้ไข</a>
                                            <div class="modal">
                                                <div class="modal-background" onclick="modalHide(this)"></div>
                                                <div class="modal-content">
                                                    <form method="post" action="/branchs/edit">
                                                        <input class="display-none id" type="text" name="id" value="<%= products[i].id %>">
                                                        <div class="cols">
                                                            <div class="field col-3">
                                                                <label class="label label-require">ชื่อสินค้า</label>
                                                                <input class="input namebranch" type="text" name="name" value="<%= products[i].name %>" required>
                                                            </div>
                                                            <button class="button success float-right" type="sumbit">บันทึก</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <button class="close large" onclick="modalHide(this)" aria-label="close"></button>
                                            </div>
                                        </td>
                                        <td class="align-center">
                                            <form method="post" action="/branchs/del" onsubmit="return checkDel()">
                                                <input class="display-none" type="text" name="id" value="<%= products[i].idbranchs_products %>">
                                                <button class="button danger" type="sumbit">ลบ</button>
                                            </form>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>
