<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
        <script>
            function checkDel() {
                if (confirm('ต้องการลบใช่หรือไม่')) {
                    return true;
                } else {
                    return false;
                }
            }
        </script>
    </head>
    <body>
        <% include ../partials/menu %>
        <main class="section">
            <div class="container-fluid">
                <section class="section">
                    <div class="container">
                        <h1 class="title" style="margin-bottom: 10px;">จัดการรถ</h1>
                        <button class="button success button-float-right-margin-bottom" onclick="modalShow(this)">เพิ่มรถ</button>
                        <div class="modal">
                            <div class="modal-background"  onclick="modalHide(this)"></div>
                            <div class="modal-content">
                                <form method="post" action="/trucks/add">
                                    <div class="cols">
                                        <div class="field col-4">
                                            <label class="label label-require">ประเภทรถ</label>
                                            <input class="input" type="text" name="type" required>
                                        </div>
                                        <div class="field col-4">
                                            <label class="label">น้ำหนักบรรทุกสูงสุด(กก.)</label>
                                            <input class="input" type="number" name="maxcapacity_in_kilo" required>
                                        </div>
                                        <div class="field col-4">
                                            <label class="label label-require">ทะเบียน</label>
                                            <input class="input" type="text" name="license_plate">
                                        </div>
                                    </div>
                                    <button class="button success float-right" type="sumbit">บันทึก</button>
                                </form>
                            </div>
                            <button class="close large" onclick="modalHide(this)" aria-label="close"></button>
                        </div>
                        <table class="table striped full-width first-col-center bordered hoverable">
                            <thead>
                                <tr>
                                    <th>ประเภท</th>
                                    <th width=220 class="align-center">น้ำหนักบรรทุกสูงสุด(กก.)</th>
                                    <th width=150 class="align-center">ทะเบียน</th>
                                    <th width=100></th>
                                    <th width=100></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <% for(var i=0; i<trucks.length; i++) {%>
                                    <tr>
                                        <td><%= trucks[i].type %></td>
                                        <td class="align-center"><%= trucks[i].maxcapacity_in_kilo %></td>
                                        <td class="align-center"><%= trucks[i].license_plate %></td>
                                        <td class="align-center">
                                            <a class="button warning" onclick="modalShow(this)">แก้ไข</a>
                                            <div class="modal">
                                                <div class="modal-background" onclick="modalHide(this)"></div>
                                                <div class="modal-content align-left">
                                                    <form method="post" action="/trucks/edit">
                                                        <input class="display-none" type="text" name="id" value="<%= trucks[i].idtruck %>">
                                                        <div class="cols">
                                                            <div class="field col-4">
                                                                <label class="label label-require">ประเภท</label>
                                                                <input class="input" type="text" name="type" value="<%= trucks[i].type %>" required>
                                                            </div>
                                                            <div class="field col-4">
                                                                <label class="label label-require">น้ำหนักบรรทุกสูงสุด(กก.)</label>
                                                                <input class="input" type="number" name="maxcapacity_in_kilo" value="<%= trucks[i].maxcapacity_in_kilo %>" required>
                                                            </div>
                                                            <div class="field col-4">
                                                                <label class="label">ทะเบียน<span class="label-require"></span></label>
                                                                <input class="input" type="text" name="license_plate" value="<%= trucks[i].license_plate %>">
                                                            </div>
                                                        </div>
                                                        <button class="button success float-right" type="sumbit">บันทึก</button>
                                                    </form>
                                                </div>
                                                <button class="close large" onclick="modalHide(this)" aria-label="close"></button>
                                            </div>
                                        </td>
                                        <td class="align-center">
                                            <form method="post" action="/trucks/del" onsubmit="return checkDel()">
                                                <input class="display-none" type="text" name="id" value="<%= trucks[i].idtruck %>">
                                                <button class="button danger" type="sumbit">ลบ</button>
                                            </form>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="section result-section" style="display: none;">
                    <div class="container">
                        <h1 class="title" style="margin-bottom: 10px;">ผลการจัดเส้นทาง</h1>
                        <div class="result-wrapper">
                            <h2 class="subtitle" id="date1" style="margin-bottom: 10px; padding-left: 2rem;"></h2>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>